<h1>Schools</h1>
</br>
</br>
<div class="row justify-content-between">
  {{#each schools}}
    <div style="height: 500px"; class="col-sm-4">
        <div style="margin: 40px:" class="schoolindex">
            <a href="/schools/{{this._id}}">
              <h3>{{this.title}}</h3>
            </a>
            <small>{{this.address}}</small>
            <p>{{this.grades}}</p>
              <p>Rating: {{this.rating}}</p>
            <a href="/schools/{{this._id}}/review">Add Review</a>
            <br>
        <a href="/schools/{{this._id}}">School Information</a>
      </div>
    </div>
  {{/each}}
</div>
