
<h1>Schools</h1>
<a href="/schools/new">School Review</a>
{{#each reviews}}
  <h5>{{this.name}}</h5>
    <h5>{{this.address}}</h5>
      <h5>{{this.grades}}</h5>
        <h5>{{this.activities}}</h5>
          <h5>{{this.demographics}}</h5>
            <h5>{{this.test scores}}</h5>
{{/each}}
