<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
  <form method="POST" action="/schools/{{school._id}}">
    <h2>{{school.title}}</h2>
    <h4>{{school.address}}</h4>
    <p>Rating: {{school.rating}} out of 5</p>
    <h5>{{school.grades}}</h5>
   <textarea class='form-control' name="content" placeholder="Comment"></textarea>
   <div class="text-right">
       <button type="Save">Save</button>
   </div>
 </form>

{{#each school.comments}}
  <p>{{this.content}}</p>
{{/each}}
