<h1>Schools</h1>
</br>
</br>
<div class="row justify-content-between">
  {{#each schools}}
    <div class="col-sm-4">
        <form method="POST" action="/schools/{{this._id}}?_method=DELETE">
        <div class="buttons">
        <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
        </div>
        </form>

        <div class="buttons">
        <!-- <button type="edit" class="btn btn-primary"> -->
         <!-- Edit</button> -->
        </div>
        <div class="schoolindex">
            <a href="/schools/{{this._id}}">
              <h3>{{this.name}}</h3>
            </a>
            <small>{{this.address}}</small>
            <p>{{this.grades}}</p>
            </br>
            <p>Rating: {{this.rating}}</p>
            </br>
        </div>

      <hr>
    </div>
  {{/each}}
</div>
